:root {
    --color-pink: #FF264B; 
    --color-gray: #B3B3B3;
    --color-lightgray: #DBDBDB;

    --fontweight-6: 600;
    --max-width: 900px;
}

.header {
    border-bottom: 1px solid var(--color-gray);
}

.container-logo-pst {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: var(--max-width);
}



.logo-image {
    width: auto;
    height: 30px;
}

.double-itens {
    display: flex;
    align-items: center;
    gap: 10px;
}

span.value {
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    padding: 5px;

    font-weight: var(--fontweight-6);
}

button.sake {
    background-color: var(--color-pink);
    color: #FFFFFF;
    font-weight: var(--fontweight-6);

    border: initial;
    border-radius: 5px;

    padding: 7px;
}


span.bar {
    display: block;
    
    margin: 20px auto;

    width: 90%;
    height: 10px;
    
    max-width: var(--max-width);

    border-radius: 10px;
    
    background-color: var(--color-lightgray);
    
    overflow: hidden;
} 

span.progress {
    display: block;
    width: 1%;
    height: 100%;
    
    border-radius: 10px;
    background-color: var(--color-pink);

    transition: all 0.3s ease;

}

.back-arrow
main {
    width: 85%;
    margin: auto;
}

h2.title {
    text-align: center;
}

p.legend {
    text-align: center;

    font-size: 14px;

    margin: 15px 0;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: auto;

    gap: 15px;

    width: 90%;

    max-width: var(--max-width);
}

.option {
    display: flex;
    justify-content: space-between;

    border-radius: 10px;
    border: 1px solid var(--color-lightgray);

    padding: 0 10px;

    background-color: transparent;
    transition: .2s ease;
}

.option-selected {
    transform: scale(1.05);
    border: 1px solid var(--color-pink);
}

.emoji {
    font-size: 30px;
}

.option-text {
    font-size: 20px;
    font-weight: var(--fontweight-6);
}

.option-check {
    width: 20px;
    accent-color: var(--color-pink);
}

.continue {
    display: block;
    
    width: 95%;
    
    margin: 20px auto;

    background-color: var(--color-pink);
    color: #FFFFFF;
    
    font-weight: var(--fontweight-6);
    font-size: 20px;

    border: initial;
    border-radius: 10px;
    
    padding: 15px 20px;
}

.emotion-text {
    margin: auto;
    
    width: fit-content;
    padding: 5px 15px;
    
    background-color: #defff3;
    color: #387548;

    border-radius: 5px;

    font-size: 18px;
    font-weight: var(--fontweight-6);
    text-align: center;
}

footer {
    border-top: 1px solid var(--color-gray);

    margin-top: 40px;

    height: 150px;
}

p.conditions {
    margin: 20px auto;
    width: 80%;
    font-size: 14px;
}

p.firula {
    margin: 20px auto;
    width: 90%;
    font-size: 14px;
    color: var(--color-gray);
}

.mensagem-erro{
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}