:root {
    --color-pink: #FF264B; 
    --color-gray: #B3B3B3;
    --color-lightgray: #DBDBDB;

    --fontweight-6: 600;
    --max-width: 900px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    border-bottom: 1px solid var(--color-gray);
}

.logo-image {
    width: auto;
    height: 30px;
}

.double-itens {
    display: flex;
    align-items: center;
    gap: 10px;
}

span.value {
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    padding: 5px;

    font-weight: var(--fontweight-6);
}

button.sake {
    background-color: var(--color-pink);
    color: white;
    font-weight: var(--fontweight-6);

    border: initial;
    border-radius: 5px;

    padding: 7px;
}


span.bar {
    display: block;
    
    margin: 20px auto;

    width: 90%;
    height: 10px;
    
    max-width: var(--max-width);

    border-radius: 10px;
    
    background-color: var(--color-lightgray);
} 

main {
    width: 85%;
    margin: auto;
}

h2.title {
    text-align: center;
}

p.legend {
    text-align: center;

    font-size: 14px;

    margin: 20px 0;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: auto;

    gap: 15px;

    max-width: var(--max-width);
}

button.option {
    display: flex;
    justify-content: space-between;

    border-radius: 10px;
    border: 1px solid var(--color-lightgray);

    padding: 0 10px;

    background-color: transparent;
}

.emoji {
    height: 30px;
}

.option-text {
    font-size: 20px;
    font-weight: var(--fontweight-6);
}

.option-check {
    width: 20px;
}
