:root {
    --color-pink: #FF264B; 
    --color-gray: #B3B3B3;
    --color-lightgray: #DBDBDB;

    --fontweight-6: 600;
    --max-width: 900px;
}

.header {
    display: flex;
    
    justify-content: center;

    padding: 5px;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 50%;
    left: 10px;

    stroke-width: 3;
    font-size: 40px;

    transform: translate(0, -50%);
}

main.rewards {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
    height: 100vh;
}

.container-saldo-master {
    margin: 0 auto;

    height: fit-content;
    width: 90%;
    max-width: var(--max-width);
}

.container-saldo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    padding: 15px 25px;
    
    border-radius: 20px;
}

.saldo {
    color: white;
    height: 50px;
}

.saldo > * {
    margin: 0;
}

.saldo > h2 {
    font-size: 36px;
    font-weight: 800;
}

.container-saldo > img {
    height: 100px;
}

.container-last-rewards {
    background-color: black;
    border-top: 1px dashed rgb(131, 131, 131);

    padding: 5px 20px;
    border-radius: 10px;
}

.container-last-rewards > p {
    color: #a1a1a1;
    font-size: 14px;
    margin: 0;
}

.container-saldo-sake {
    width: 90%;
    height: fit-content;
    margin: 0 auto;

    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 25px;
}

.container-sake {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    gap: 8px;
}

.container-sake > * {
    margin: 0;
}

.container-sake > p {
    display: flex;
    align-items: center;

    color: #838383;
}

.cartoes {
    height: 30px;
    margin-right: 10px;
}

.pix {
    height: 35px;
    margin-left: 5px;
}

.pay-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.pay-option:nth-child(4) {
    grid-column: 1 / -1;;
}

.pay-option {
    margin: 0;
    background-color: #e2e2e2;
    padding: 15px;
    border-radius: 10px;
    border: none;

    font-size: 16px;

    cursor: pointer;;
}

.option-selected {
    color: var(--color-pink);
    font-weight: 600;
    transform: scale(1.05);
    border: 2px solid var(--color-pink);
}

.container-pix {
    display: flex;
    flex-direction: column;
    
    gap: 10px;

    margin: 25px 0;
}

.container-pix > label.label {
    font-weight: 600;
}

.container-pix > select {
    width: 100%;

    background-color: #e2e2e2;
    
    font-size: 16px;

    border: none;
    border-radius: 5px;
    
    padding: 10px;
}

.container-pix > input {
    width: 100%;

    background-color: #e2e2e2;

    font-size: 16px;

    border: none;
    border-radius: 5px;

    padding: 10px;
    box-sizing: border-box;
}

.container-pix > button {
    padding: 15px;
    
    background-color: var(--color-pink);
    color: white;

    font-size: 18px;
    font-weight: 600;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}